@charset "UTF-8";
/* CSS Document */
/*
========================================
PROFICIENT LANGUAGES
========================================
*/
#prof-l1-1 {
    color: rgb(178, 24, 12);
    font-size: 18px;
}
#prof-l1-2 {
    color: rgb(210, 47, 68);
    font-size: 18px;
}
#prof-l1-3 {
    color: rgb(179, 36, 100);
    font-size: 18px;
}
#prof-l1-4 {
    color: rgb(225, 92, 181);
    font-size: 18px;
}
#prof-l1-5 {
    color: rgb(199, 48, 149);
    font-size: 18px;
}
#prof-l1-6 {
    color: rgb(154, 81, 186);
    font-size: 18px;
}
#prof-l1-7 {
    color: rgb(115, 52, 142);
    font-size: 18px;
}
#prof-l1-8 {
    color: rgb(70, 32, 87);
    font-size: 18px;
}
/*
========================================
FAMILIAR LANGUAGES
========================================
*/
#fam-l1-1 {
    color: rgb(2, 97, 145);
    font-size: 18px;
}
#fam-l1-2 {
    color: rgb(5, 145, 216);
    font-size: 18px;
}
#fam-l1-3 {
    color: rgb(9, 130, 177);
    font-size: 18px;
}
#fam-l1-4 {
    color: rgb(6, 170, 158);
    font-size: 18px;
}
#fam-l1-5 {
    color: rgb(3, 131, 121);
    font-size: 18px;
}
