@charset "UTF-8";
/* CSS Document */
/*
========================================
CUSTOM STYLES
========================================
*/
html {
  height: 100%;
}
body {
	background-image: url(../images/backgrounds/black_linen_v2_@2X.png);
 	background-size: 100%;
  	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
	color: white;
}
/*
========================================
TYPOGRAPHYY
========================================
*/
h1,
h2,
h3,
p {
	color: #212121;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h1,
h2 {
	font-weight: 700;
}
h3 {
	font-weight: 400;
}
/*
========================================
GRID
========================================
*/
.container {
	height: auto;
	margin: 10px;
	position: relative;
}
.footer {
	display: table-row;
	height: 1px;
}
.photo-text {
	position: inherit;
	background: white; 
	bottom: 35px; 
	color: #4C4B4B;
	display: inline-block;
	text-align: center;
	z-index: 1;
	width: 40%;
}
.aside {
	margin-left: 5em;		
}
/*
========================================
IMAGES
========================================
*/
.portfolio-image {
	position: relative;
	width: 40%;
	padding: 5px;
	margin: 10px;
	z-index: 0;
	display: inline-block;
}
