@charset "UTF-8";
/* CSS Document */
/*
========================================
CUSTOM STYLES
========================================
*/
html {
  height: 100%;
}
body {
	background-image: url(../images/backgrounds/black_linen_v2_@2X.png);
 	background-size: 100%;
  	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
	color: white;
}
/*
========================================
TYPOGRAPHYY
========================================
*/
h1,
h3,
p,
ul,
ol {
	color: #212121;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h2,
h3 {
	color: #212121;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: 300;
	font-style: oblique;
	font-variant: small-caps;
	font-size: 42px;
}
h3 {
	font-size: 24px;
	color: #821B1C;
}
.centered {
	text-align: center;
	color: #212121;
}
h1 {
	font-size: 43px;
}
.nav-menu {
	color: #821B1C;
	text-decoration: underline;
	font-size: 18px;
}
.small {
	font-size: 18px;
}
small {
	color: #212121;
}
.bold {
	font-weight: 700;
}
.photo-text-small {
	color: #821B1C;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 14px;
}
/*
========================================
VISUALS
========================================
*/
.pageHeader {
	border: none;
	box-shadow: none;
}
hr {
	border-color: #212121;
}
.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
}
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(http://placekitten.com/240/240);
    visibility: visible;
	background-image: url(../images/wbwelch.jpg);
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
.dodecagon {
    width: 200px;
    height: 200px;
    margin: -80px 0 0 20px;
}
#port-image {
	position: relative;
	top: 2em;
	margin: auto;
}
/*
========================================
GRID
========================================
*/
.rela {
	display: block;
	position: relative;
	margin: 0 auto;
}
.container {
	height: auto;
	position: relative;
	margin: 10px auto;
}
.portfolio-entries {
	width: 45%;
	position: relative;
	display: inline-block;
	padding: 5px auto;
	margin: 10px auto;
}
.portfolio-image {
	position: relative;
	width: 90%;
	padding: 5px auto;
	margin: 10px auto;
}
.photo-text {
	position: relative;
	background-color: rgba(255,255,255,0.00); 
	bottom: 30px; 
	color: #821B1C;
	text-align: center;
	width: 90%;
	padding: 15px;
	margin: 10px auto;
}
.photo-text-small {
	display: inline;
	position: relative;
	bottom: 35px;
}
.box-center {
	width: 40%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
a {
	text-align: center;
}
.connect {
	position: relative;
	padding: 10px auto;
	margin: 10px auto;
	width: 90%;
}
.about-me-holder {
	padding: 5px;
	margin: 10px auto;
}
.footer {
	display: table-row;
	height: 1px;
}
/*
========================================
MEDIA QUERIES
========================================
*/
@media screen and (max-width: 991px) {
	body {
		width: 100%;
	}
	.about-me-holder {
		position: relative;
		top: 4em;
	}
	#port-image {
		top: 1em;
	}
	.portfolio-entries {
		width: 100%;
	}
	.photo-text {
		font-size: 28px;
	}
	.connect {
		bottom: -30px;
	}


